﻿@model System.Data.DataTable

<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                @Model.ExtendedProperties["title"].ToString()
            </div>

            <div class="panel-body">
                <div class="row">
                    @foreach (System.Data.DataColumn col in Model.Columns)
                    {
                        if (col.ColumnMapping != System.Data.MappingType.Hidden && col.ExtendedProperties["is_header"] != null)
                        {
                            if (col.ExtendedProperties["is_header"].Equals(true))
                            {
                                <div class="col-sm-3">
                                    <span class="font-extra-bold">@col.Caption: </span>
                                    @if (Model.Rows.Count > 0)
                                    {
                                        @Model.Rows[0][col].ToString().Trim()
                                    }
                                </div>
                            }
                        }
                    }
                </div>
                <div class="row">
                    @if (ViewData["viewName"] != null)
                    {
                        Html.RenderPartial("_GridViewSearch", Model, new ViewDataDictionary { { "viewName", ViewData["viewName"] }, { "value", ViewData["value"] }, { "server", ViewData["server"] }, { "moduleId", ViewData["moduleId"] }, { "formId", ViewData["formId"] } });
                    }
                </div>
            </div>
        </div>
    </div>
</div>