﻿<!-- Header -->
<div id="header">
    <div class="color-line">
    </div>
    <div id="logo" class="light-version">
        <span>
            GB-Zone
        </span>
    </div>
    <nav role="navigation">
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="small-logo">
            <span class="text-primary">GB-Zone</span>
        </div>
        <div class="mobile-menu">
            <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                <i class="fa fa-chevron-down"></i>
            </button>
            <div class="collapse mobile-navbar" id="mobile-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="" href="~/">Modules</a></li>
                    <li><a class="" href="#" target="_blank">Service Desk</a></li>
                    <li>@Html.Partial("_LogOnPartialView")</li>
                </ul>
            </div>
        </div>

        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                <li>
                    <a href="~/">
                        <i class="pe-7s-keypad"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="pe-7s-comment"></i>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Logout","Account")">
                        <i class="pe-7s-upload pe-rotate-90"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>